.top_bar{
  display: flex;
  position: fixed;
  background-color: rgba(240, 226, 226, 0.911);
  justify-content: space-between;
  width: 100%;
}
h1{
  font-weight: bolder;
}
.company_name{
  display: inline-flex;
  align-items: center;
}
.company_name img{
  width: 26px;
}
.main_menu{
  display: flex;
}
.main_menu a{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 10px;
  text-decoration: none;
}
.main_menu .line{
  width: 100%;
  height: 4px;
  background-color: #f00;
  transform: scaleX(0);
  transition: transform .5s;
}
.main_menu a:hover .line{
  transform: scaleX(1);
}
.banner img{
  width: 1200px;
  padding: 50px;
}
.intro{
  text-align: center;
}
h2{
  font-size: 26px;
  font-weight: bolder;
  padding: 30px;
}
h3{
  font-weight: bolder;
  padding: 20px;
  font-size: 20px;
}
h4{
  padding: 30px;
  font-size: 18px;
}
.intro_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}
.intro_cards img{
  height:150px;
}
p{
  line-height: normal;
}
.tutors_intro{
  text-align: center;
}
.tutors_team{
  padding-top: 100px; 
}
.tutor_dp_n_intro{
  display: flex;
}
.tutor_dp_intro{
  text-align: left;
  padding: 10px;
}
.tutor_cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-color: #aaa;
  justify-content: center;
  justify-content: space-evenly;
}
.tutor_card{
  width: 40%;
}
.tutor_card img{
  width: 150px;
  height: 150px;
  border-radius:50%;
  object-fit: cover;
}
.media_icons{
  width:20px;
  height: 20px;
  display: flex;
 }
.media_icons img{
  width: 100%;
  height: 100%;
}
.course{
  border-style: solid;
  border-color: #f00;
  border-width: 0.5px;
  display: inline-block;
  padding: 2px;
  color: #f00;
}
.more_btn{
  background-color: #f00;
  border: 20px 30px;
  display: inline-block;
}
.reports{
  text-align: center;
}
.news{
  display: flex;
  flex-wrap: wrap;
}
.news_card{
  width:50%;
  text-align: left;
}
.source{
 
}
.news_title a:hover{
  color:#f00;
}
.news_title{
  font-size: 24px;
  color:black;
  text-decoration: none;
}
.recent_course_intros{
  display: flex;
  justify-content: space-evenly;
}
.recent_course_intro img{
  width: 300px;
}
.online_n_camp{
  display: flex;
  text-align: center;
}
.online_n_camp img{
  width: 500px;
  justify-content: space-evenly;
}
.review_title{
  text-align: center;
}
.student_review{
  display: flex;
}
.review_card{
  width: 30%;
}
.articles{
  align-items: center;
  text-align: center;
}
.article_cards{
  display: flex;
  text-align: left;
}
.article_cards img{
  width:350px;
}
.company_info{
  display: flex;
  background-color: rgb(47, 47, 59);
  height: 500px;
  color:rgb(240, 238, 235);
}
.website_intro{
  display: flex;
  flex-wrap: wrap;
}
.x5_basic_info{
  padding: 80px 0 0 20px;
  width: 30%;
}
.copyright{
  text-align: center;
  background-color: rgb(6, 6, 36);
  height: 50px;
  color: #aaa;
}
